.groups {
    width: 100%;
    margin: auto;
}
.admin{
    display: flex;
    justify-content:space-between;
}
.createGroup{
    width: 180px;
}
.groupCreateBody{
    width: 400px;
}
.input{
    margin-top: 10px;
}
.date{
    margin-top: 10px;
    width: 100%;
}

.groupsTable{
    margin-top: 20px;
}

.groupsTable{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
}
.loader{
    text-align: center;
}